* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 908px;
    background-image: url('../img/start-screen-gradient-background.jpg');
    background-size: cover;
}

.promo {
    width: 1200px;
    height: 60px;
    z-index: 2;
}

.logo {
    text-decoration: none;
}

.title {
    color: #F1CDB3;
    font-weight: 400px;
    font-size: 32px;
    font-family: Georgia, sans-serif;
    padding-left: 40px;
    letter-spacing: 0.06em;
}

.subtitle {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    font-family: Georgia, sans-serif;
    font-family: Arial, sans-serif;
    letter-spacing: 0.1em;
    padding-left: 44px;
    padding-top: 10px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.menu_link {
    color: #cdcdcd;
    text-decoration: none;
    padding-right: 35px;
    font-family: Arial, sans-serif;
}

.header {
    padding: 30px 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.promo_title {
    font-weight: 400;
    font-size: 44px;
    font-family: Georgia, sans-serif;
    color: #FFFFFF;
    padding-top: 253px;
    padding-left: 40px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: 114px;
    width: 410px;
}

.promo_subtitle {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #cdcdcd;
    height: 72px;
    width: 510px;
    padding-top: 142px;
    padding-left: 40px;
}

.title_promo {
    display: flex;
    justify-content: flex-end;
}

.promo_btn {
    margin-top: 107px;
    margin-left: 45px;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background: #fddcc4;
}

.not_only_btn {
    text-decoration: none;
    text-align: center;
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.promo_img {
    padding-top: 60px;
    width: 100%;
}

.img_dog {
    width: 100%;
    padding-right: 10px;
}

.about {
    height: 588px;
}

.about_img {
    width: 300px;
    height: 408px;
    margin-top: 80px;
    margin-left: 215px;
}

.about_title {
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 94px;
    margin-right: 295px;
    margin-left: 120px;
    text-align: left;
}

.about_descr {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
    padding: 25px 215px 25px 120px;
    text-align: left;
}

.pets {
    height: 877px;
    background-color: #f6f6f6;
}

.title_pets {
    margin: 80px 440px 60px;
    display: flex;
    align-content: space-between;
}

.pets_title {
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.pets_content {
    display: flex;
    align-content: space-between;
    width: 1200px;
    height: 435px;
}